/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 3em;
    letter-spacing: 6px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

/*
 * Header
 */

.header {
    background: #00b7ea;
    /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00b7ea 0%, #009ec3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
    /* IE6-9 */
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar .nav-link.active {
    background-color: #009ec3;
}

/*
 * Dashboard
 */

/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}